<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short Link</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }

        form {
            display: flex;
            flex-direction: column;
            width: 25%;
            gap: 10px;
        }
    </style>
</head>

<body>
    <h1>URL Shortener</h1>
    <% if (locals.shortID) { %>
        <p>Short URL: <a href="http://localhost:8000/url/<%= shortID %>">http://localhost:8000/url/<%= shortID %></a>
        </p>
        <% } %>

            <form method="post" action="/url">
                <label for="url">Enter URL</label>
                <input type="text" name="url" id="url" placeholder="Enter URL">
                <button type="submit">Generate</button>
            </form>

            <div>
                <table border="1">
                    <thead>
                        <tr>
                            <td>Sr. No</td>
                            <td>Short ID</td>
                            <td>URL</td>
                            <td>Clicks</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (locals.urls) { %>
                            <% locals.urls.forEach((url, index)=> { %>
                                <tr>
                                    <td>
                                        <%= index + 1 %>
                                    </td>
                                    <td>
                                        <%= url.shortID %>
                                    </td>
                                    <td><a href="<%= url.redirectUrl %>">
                                            <%= url.redirectUrl %>
                                        </a></td>
                                    <td>
                                        <%= url.visitHistory.length %>
                                    </td>
                                </tr>
                                <% }) %>
                                    <% } %>
                    </tbody>
                </table>
            </div>
</body>

</html>